* {
    padding: 0;
    margin: 0;
    outline: none;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(Imagens/image.png);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;

}

.textContent {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    max-width: 60vw;

    gap: 10px;
}

.textContent h1 {
    font-size: 80px;
    max-width: 700px;


}

.textContent p {
    font-size: 25px;
    max-width: 700px;
}

.textContent button {
    font-weight: 600;
    background-color: #050A30;
    border: none;
    color: #FFF;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 30px;


}


.raleway {
    font-family: 'Raleway';
}

@media (max-width:1300px) {
    .textContent {
        text-align: center;
        align-items: center;
        max-width: 90vw;
    }

    .textContent button {
        margin: 50px 0;
        font-size: 40px;
    }

    header {
        padding: 50px 0;
    }

    .imageContent img {
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .textContent h1 {
        font-size: 50px;
    }

    .imageContent {
        display: none;
    }

    .textContent button {
        font-size: 25px;
    }
}

@media (max-width:400px) {
    .textContent h1 {
        font-size: 40px;
    }
}

@keyframes flutuar {
    0% {
        transform: translateY(-50px);

    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-50px);
    }
}

.imageContent img {
    animation-name: flutuar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


.title {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;


}

.title h1 {
    color: black;
    font-weight: 600;
    font-size: 30px;
    margin: 5px 0;

}

.title div {
    height: 4px;
    border-radius: 5px;
    width: 200px;
    background-color: #050A30;
}

.que-box {
    width: 70%;
    gap: 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px auto;

}

.que {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #050A30;
    width: 35%;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

.que img {
    width: 100px;
}

.que h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.que p {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width:1100px) {
    .que {
        width: 45%;
    }

}

@media (max-width:900px) {
    .que-box {
        width: 100%;

    }
}

@media (max-width:600px) {
    .que {
        width: 60%;
        margin: 15px 0;

    }
}

@media (max-width:400px) {
    .que {
        width: 80%;
    }
}

.cta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}

.cta button {
    color: #FFF;
    background-color: #050A30;
    font-size: 30px;
    font-weight: 600;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;


    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes pulsare {
    0% {
        scale: 1;

    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.cta button:hover {
    scale: 1.1;
}


.ofer-box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 40px;    
}

.ofer-box img{
    width: 600px;
    border-radius: 10px;

}

.ofer{
    width: 100%;
    color: #000;
    padding: 20px;
}
.ofer h1{   
    font-size: 35px;
    font-weight: 600;
}

.ofer p{
    font-size: 25px;
    max-width: 90%;
}
.ofer div{
    width: 400px;
    height: 4px;
    background-color: #050A30;
    border-radius: 10px;
}

.ofer-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 600px;
}

@media (max-width:700px) {
    .ofer-box img{
        width: 100%;
    }

}

@media (max-width:450px) {
    .ofer div{
        width: 100%;
    }
}
