*{
    padding: 0;
    margin: 0;
    outline: none;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(Imagens/image.png);
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;

}

.textContent{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    max-width: 60vw;

    gap: 10px;
}

.textContent h1{
    font-size: 80px;
    max-width: 700px;
    
    
}

.textContent p{
    font-size: 25px;
    max-width: 700px;
}

.textContent button{
    font-weight: 600;
    background-color:#050A30 ;
    border: none;
    color: #FFF;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 30px;


}


.raleway{
    font-family: 'Raleway';
}

@media (max-width:1300px) {
    .textContent{
        text-align: center;
        align-items: center;
        max-width: 90vw;
    }
    .textContent button{
        margin: 50px 0;
        font-size: 40px;
    }

    header{
        padding: 50px 0;
    }

    .imageContent img{
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .textContent h1{
        font-size: 50px;
    }
    .imageContent {
        display: none;
    }

    .textContent button{
        font-size: 25px;
    }
}

@media (max-width:400px) {
    .textContent h1{
        font-size: 40px ;
    }
}

@keyframes flutuar {
    0% {
      transform: translateY(-50px);
      
    }
  
    50% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(-50px);
    }
  }
  
  .imageContent img {
    animation-name: flutuar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  